@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
  /* Mörkt tema (default) */
  --bg-color: #202c36;
  --text-color: #f2f2f2;
  --nav-bg: #2b3844;
  --card-bg: #2b3844;
  --text-color: #f2f2f2;
   --font-main: 'Open Sans', sans-serif;
}

.light-theme {
  /* Ljust tema */
  --bg-color: #f2f2f2;
  --text-color: #202c36;
  --nav-bg: #ffffff;
  --card-bg: #f9f9f9;
  --text-color: #111;
}


* {
  font-family: var(--font-main);
  box-sizing: border-box;
}

Body {
/*background-color: var(--secondary); */
      background-color: var(--bg-color);
      margin: 0px;
      padding: 0px;
}

p {
  margin: 4px;
}

.navbar {
  /* background-color: var(--primary); */
  background-color: var(--nav-bg);
  width: 100%; 
  box-shadow: 0 0 20px -12px;
}

.navbar-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 45px;
}

.nav-link-1 {
  text-decoration: none;
  font-size: 17px;
  color: var(--text-color);
  font-weight: 600;
}

.nav-link-2 {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
}


.techover-logo {
  width: 150px;
  object-fit: contain; 
}

.navbar-light-darkmode {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 8px; 
  background-color: var(--nav-bg);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem auto;
  max-width: 400px;
}

.search-input {
  flex: 1;
  padding: 14px;
  padding-right: 60px;
  margin: 0;
  border: none;
  background-color: var(--nav-bg);
  color: var(--text-color);
  outline: none;
  box-shadow: 4px 5px 5px -6px black;
  max-width: 400px;;
}



.search-button {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.filter-bar,
.flag-grid,
.navbar-content {
  width: 100%;
  margin: 0 auto;
  padding: 10px 45px; 
  max-width: 1200px;
}

/* Behåll din tidigare flex/grid layout */
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 10px;
}


.flag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  justify-content: center;   
  justify-items: center;     
  width: 100%;
  max-width: 1200px;         
  margin: 0 auto;            
  
}


.region-filter-container {
  position: relative;
  display: inline-block;
  border: none;
  box-shadow: 4px 5px 5px -6px black;
}

.region-filter {
  appearance: none; /* tar bort standardpilen */
  background-color: var(--nav-bg);
  color: var(--text-color);
  font-size: 13px;
  padding: 15px 40px 13px 15px; /* ger plats för pilen */
  border: none;
  cursor: pointer;
  max-width: 400px;
}

.region-filter-arrow {
  position: absolute;
  right: 15px; /* justera så pilen hamnar innanför */
  top: 50%;
  transform: translateY(-50%);
  width: 14px; /* lagom storlek */
  pointer-events: none; /* så att pilen inte stör klick */
}





/* Dark/light mode stöd card */
body.light-mode .flag-card {
  --card-bg: #f9f9f9;
  --text-color: #111;
}

body.dark-mode .flag-card {
  --card-bg: #2b3844;
  --text-color: #f2f2f2;
}





.flag-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 32px 45px; 
}


.flag-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
  transition: transform 0.2s;
  height: 280px;
  width: 240px;
  /* padding: 10px; Det blir avstånd mellan card och foto */
}

.flag-card:hover {
  transform: scale(1.03);
}

.flag-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.flag-name {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color, #111);
  text-decoration: none;
}

.flag-text {
  padding-left: 20px;
  text-decoration: none;
}



.flag-population {
  margin: 5px 0px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color, #111);
  text-decoration: none;
}

.flag-region {
  margin: 5px 0px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color, #111);
  text-decoration: none;
}

.flag-capital{
  margin: 5px 0px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color, #111);
  text-decoration: none;
}

.flag-card {
  text-decoration: none; /* tar bort underline på hela länken */
  color: inherit; /* gör så texten behåller vanlig färg */
}

.flag-card:hover {
  text-decoration: none; /* säkerställer att underline inte visas vid hover */
}


@media (max-width: 1150px) {

  .navbar-content {
    padding: 20px 45px

  }
  .filter-bar {
    flex-direction: column;
    align-items: start;
    
  }

  .region-filter-container {
  position: relative;
  display:grid;
  border: none;
  box-shadow: 4px 5px 5px -6px black;
}

.flag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

} 

@media (max-width: 900px) {
  .flag-grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 600px) {
  .flag-grid {
    grid-template-columns: 2fr;
  }
    .filter-bar {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin: 0px;
    padding: 0px;
  }
      .techover-logo {
      display: none;
  }
}

@media (max-width: 376px) {
  .navbar-content {
    padding: 20px 10px
  }
  .search-input {
    padding-right: 165px;
    max-width: 335px;
  }
  .flag-all {
    padding: 15px 20px;
  }
    .flag-detail-image {
    margin-left: 0px;
  }
}

.flag-detail-content {
  display: flex;
  align-content: center;
  align-items: start;
}

.flag-detail-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 60px;
}

.flag-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--text-color);
  margin-left: 100px;
  gap: 80px; /* avstånd mellan kolumnerna */
  font-size: 14px;
  font-weight: 100;
  position: relative;
}

.flag-info h3 {
   /* rubriken tar hela bredden */
  font-size: 20px;
  margin-bottom: 10px;
  align-items: start;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  position: absolute;
  top: 200px;
  left: 3px;
}

.border-box {
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 6px 14px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}


.arrow-left-content {
  display: flex;
  align-content: start;
  align-items: center;
  margin: 60px;
}

.flag-info-column1 {
  display: flex;
  flex-direction: column;
  
  position: relative;
}

.flag-info-column2 {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .flag-detail-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .flag-detail-image {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-left: 0;
  }

  /* Gör flag-info vertikal */
  .flag-info {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    gap: 7px;
    width: 100%;
    padding: 0 10px;
  }

  /* Kolumnerna blir vertikala */
  .flag-info-column1,
  .flag-info-column2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  /* Border countries stannar i naturligt flöde */
  .border-countries {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: 250px;
    left: 15px;
  }
  .h3 {
    margin:  0px;
  }
}

@media (max-width: 900px) {
  .flag-detail-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
  }

  .flag-detail-image {
    width: 80%;
    height: auto;
    max-width: 350px;
  }

  .flag-info {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }

  .flag-info h3 {
    font-size: 20px;
  }


  .arrow-left-content {
    margin: 30px;
  }
}

@media (max-width: 600px) {
  .flag-detail-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .flag-detail-image {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-left: 0px;
  }

  .flag-info {
    grid-template-columns: 1fr;
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding: 0 10px;
  }

  .flag-info h3 {
    text-align: start;
    font-size: 18px;
  }

  .flag-info-column1 {
    margin-bottom: 10px;
  
  }

   .flag-info-column2 {
    margin-top: 10px;
  
  }
 

  .arrow-left-content {
    margin: 25px;
    margin-top: 35px;
  }

  .border-countries {
    transform: translate(0px,0px);
  }

  
}

.back-button,
.back-button:link,
.back-button:visited,
.back-button:hover,
.back-button:active,
.back-button:focus {
  text-decoration: none !important;
  outline: none; /* behåll focus-outline om du vill ha tillgänglighet */
  color: var(--text-color) !important;
  color: inherit;
  font-size: 14px;
  margin-left:  10px;
}














